
<!-- Horizontal navigation -->
<ul class="horizontal-nav" role="tablist">
  <li class="horizontal-nav__item active" data-panel="#desc" role="tab">Produktbeschreibng</li>
  <li class="horizontal-nav__item large-only" data-panel="#info" role="tab">Weitere Informationen</li>
  <li class="horizontal-nav__item" data-panel="#reviews" role="tab">Bewertungen (<span class="count">2</span>)</li>
</ul>

<!-- Tab panes -->
<div class="horizontal-nav__content">
  <div class="horizontal-nav__panel active" id="desc" role="tabpanel">
    <p>Content 1</p>
  </div>
  <div class="horizontal-nav__panel large-only" id="info" role="tabpanel">
    <p>Content 2</p>
  </div>
  <div class="horizontal-nav__panel" id="reviews" role="tabpanel">
    <p>Content 3</p>
  </div>
</div>
<!-- /Horizontal navigation -->
