<article class="article">
  <header class="article__header">
    <h3>Rinderbouillon</h3>
  </header>
  <section class="article__body">
    <p><strong>Zubereitung</strong>: 20 g pro Liter in heißem Wasser au ösen. Ergibt 7 l Brühe.</p>
    <p>
      <strong>Zutaten</strong>: Steinsalz, Maltodextrin*, Zucker*, Rind- eischpulver* 7%, Stärke*, Palmfett*, Hefeextrakt, natürliches Aroma, Zwiebel*, Pastinake*, Petersilie*, Gewürze*, Karotten*, Spinat*.( *aus kontrolliert biologischen Anbau )
    </p>
    <p>
      Unsere Rinderbouillon dient zum Würzen allerlei Speisen sowie als Basis individuell zubereitetet Suppen oder als Trinkbrühe. Als Salzkomponente verwenden wir Bickelbacher Steinsalz, ein unraffiniertes Natursalz aus deutscher Herkunft. Es sind keinerlei
      künstliche Geschmacksverstärker* (lt.Gesetz*),Farb-undKonservie- rungsstoffe enthalten.
    </p>
  </section>
</article>
