
<!-- Table -->
<table class="data-table">
	<thead>
		<tr>
			<th colspan="2">Durchschnittliche Nährwertangaben per 100 g</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Energie</td>
			<td>863 kJ / 206 kcal</td>
		</tr>
		<tr>
			<td>Fett</td>
			<td>6,6 g</td>
		</tr>
		<tr>
			<td>davon gesättigte Fettsäuren</td>
			<td>4,0 g</td>
		</tr>
		<tr>
			<td>Kohlenhydrate</td>
			<td>28,8 g</td>
		</tr>
		<tr>
			<td>davon Zucker</td>
			<td>11,1 g</td>
		</tr>
		<tr>
			<td>Ballaststoffe</td>
			<td>1,2 g</td>
		</tr>
		<tr>
			<td>Eiweiß</td>
			<td>7,0 g</td>
		</tr>
		<tr>
			<td>Salz</td>
			<td>53,7 g</td>
		</tr>
	</tbody>
</table>
<!-- /Table -->
