/**
 * Base Styles
 */

// html {
//   font-size: 10px;
// }

body {
  font-family: 'Alegreya Sans', sans-serif;
  color: $text-color-dark;
}

p {
  margin: 0;
}

a {
  color: $text-color-dark;

  &:hover, &:focus, &:active {
      color: $text-color-dark;
  }
}

ol, ul, dl {
    margin: 0;
    padding: 0;
    list-style: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
