/**
 * Base Styles
 */

body {
  font-family: 'Alegreya Sans', sans-serif;
  color: $text-color-dark;
  font-size: $font-size-base;
}

p {
  margin: 0;
}

a {
  color: $text-color-dark;

  &:hover, &:focus, &:active {
      color: $text-color-dark;
      outline: none;
  }
}

ol, ul, dl {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, input {
  border: none;
  padding: 0;

  &:focus {
    outline: inherit;
  }
}

button {
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
