/**
 * Base Styles
 */
body {
  font-family: 'Alegreya Sans', sans-serif;
  color: $text-color-dark;
  font-size: $font-size-base;
}

p {
  margin: 0;
}

a {
  color: $text-color-dark;
  transition: all 0.35s ease;

  &:hover {
    outline: none;
    text-decoration: none;
    color: inherit;
  }
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input {
  border: none;
  padding: 0;

  &:focus {
    outline: inherit;
  }
}

button {
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  @extend %wrapper;
}

.text-strong {
  color: $color-dark-red;
}

.mobile-only {

  @include media-breakpoint-up(lg) {
    display: none !important;
  }
}

.large-only {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

.underline {
  @extend %underline;
}

.highlight {
  font-weight: 500;
  font-style: italic;

  &--primary {
    @extend .highlight;
    color: $color-primary;
  }
}

.link {
  background: transparent;
  border: none;
}

.btn {
  color: $color-light;
  padding: 0 1em;
  border-radius: 5px;
  font-weight: 700;
  height: 2.143em;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    margin-right: space(-2);
    align-self: baseline;
  }

  &:hover {
    color: $color-light;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &--warning {
    @extend .btn;
      background: #c03e26;
  }

  &--success {
    @extend .btn;
    background: #d1b1cb;
  }

  &--danger {
    @extend .btn;
    background: $color-darker-red;
  }

  &--default {
    @extend .btn;
    background: $color-gray-1;
  }
}
