.footer {
  font-size: $footer-font-size;
  background: $bg-color-dark;
  padding-top: space(3);
  padding-bottom: space(3);
  color: $color-light;
  margin-top: space(3);

  .footer-nav {
      margin-bottom: space(3);

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  .social {
    //   margin-top: space(3);
    //
    // @include media-breakpoint-up(lg) {
    //   margin-top: 0;
    // }
  }
}

.login-btn {
  background: #c03e26;
  color: $color-light;
  padding: space(-2) space(2);
  border-radius: 5px;
  margin-top: space(2);
}
