.footer {
  font-size: $footer-font-size;
  background: $bg-color-dark;
  padding-top: space(3);
  padding-bottom: space(3);
  color: $color-light;
  margin-top: space(3);

  .button--danger {
    margin-top: space(2);
  }

  &-logo {
    width: 80%;
    height: 32%;
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
    @include media-breakpoint-up(lg) {
      width: 95%;
      height: 60%;
    }
    @include media-breakpoint-up(xl) {
      width: 80%;
      height: 60%;
    }
  }

  &-nav {
    margin-bottom: space(3);
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    &__item {
      & > a {
        @extend %underline;
      }
    }
  }
}

.footer-btn {
  margin-top: space(2);
}
