.footer {
  font-size: $footer-font-size;
  background: $bg-color-dark;
  padding-top: space(3);
  padding-bottom: space(3);
  color: $color-light;
  margin-top: space(3);

  &-logo {
    width: 100%;
    max-height: 7em;
    height: 100%;
  }

  &-nav {
    margin-bottom: space(3);
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    &__item {
      & > a {
        @extend %underline;
      }
    }
  }

  .social {
    //   margin-top: space(3);
    //
    // @include media-breakpoint-up(lg) {
    //   margin-top: 0;
    // }
  }
}

.login-btn {
  background: #c03e26;
  color: $color-light;
  padding: space(-2) space(2);
  border-radius: 5px;
  margin-top: space(2);
}
