/**
 * Header
 */

.header {
  font-size: $header-font-size;
}

.top-bar {
  @extend %wrapper;
  position: relative;
  display: none;
  padding-top: space(1);
  padding-bottom: space(1);
  background-color: $color-dark;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    color: $text-color-light;
    font-weight: 500;

    & > a {
      @extend %underline;
      color: $text-color-light;
    }
  }

  &__nav {
    &-item {
      display: inline-block;
      float: left;
      margin-right: 0.666em;

      &:last-child {
        margin-right: 0;
      }

      & > a {
        @extend %underline;
        color: $text-color-light;
      }
    }
  }
}

.main-bar {
  @extend %wrapper;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  padding-top: space(1);
  padding-bottom: space(1);
  @include media-breakpoint-up(md) {
    padding-top: space(2);
    padding-bottom: space(2);
  }
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  &--primary {
    @extend .main-bar;
    background: $bg-color-primary;
  }

  .logo {
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
    display: flex;

    & > .icon {
      width: 13.5em;
      height: 2.5em;

      @include media-breakpoint-up(md) {
        width: 17em;
        height: 3em;
      }
    }
  }



  .cart-btn {
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
}

.menu-btn {
  margin: 0;
  padding: 0;
  border: none;
  width: 2.5em;
  height: 2.5em;
  min-width: 2.5em;
  background: transparent;

&__wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: normal;

}
  cursor: pointer;
  @include media-breakpoint-up(md) {
    font-size: 1.2em;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }

  &__bar {
    width: 100%;
    height: 0.55em;
    display: block;
    background: $color-dark;
  }
}
