.secondary-nav {
  @extend %wrapper;
  display: none;
  background: $bg-color-light;
  font-size: $font-size-medium-2;
  padding-top: space(1.5);
  padding-bottom: space(1.5);
  @include media-breakpoint-up(lg) {
    display: block;
  }
}
