<!-- Horizontal navigation -->
<ul class="horizontal-nav nav" id="myTab" role="tablist">
  <li class="horizontal-nav__item">
    <a class=" active" data-toggle="tab" href="#home" role="tab">Home</a>
  </li>
  <li class="horizontal-nav__item">
    <a class="" data-toggle="tab" href="#profile" role="tab">Profile</a>
  </li>
  <li class="horizontal-nav__item">
    <a class="" data-toggle="tab" href="#messages" role="tab">Messages</a>
  </li>
  <li class="horizontal-nav__item">
    <a class="" data-toggle="tab" href="#settings" role="tab">Settings</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel">.1..</div>
  <div class="tab-pane" id="profile" role="tabpanel">...2</div>
  <div class="tab-pane" id="messages" role="tabpanel">...3</div>
  <div class="tab-pane" id="settings" role="tabpanel">...4</div>
</div>
<!-- /Horizontal navigation -->
