---
layout: inner-pages
title: Bickelbacher - Product
---

<!-- Secondary Navigation -->
<aside class="secondary-nav">
  {{> navigation.breadcrumbs product-single.breadcrumbs}}
</aside>
<!-- /Secondary Navigation -->
<div class="container">
  <div class="row">
    <!-- Main content column -->
    <div class="col">
      <main class="main-content">
        <div class="row">
          <div class="col-12">
            <article class="product-details">
              <header class="product-details__header">
                <div class="product--red">
                  <div class="row">
                    <div class="col-md-6 col-xl-4">
                      <img class="product__img" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/salz_streuer.jpg" alt="product image">
                    </div>
                    <div class="col">
                      <div class="product__body">
                        <div class="product__heading">
                          <h2><span class="product__category">bouillon<span> <span class="product__type">rind</span></h2>
                          <p class="product__rating">{{> other.rating-stars 3}} <span>(<span class="product__reviews">2</span> Kundenbewertungen)</span>
                          </p>
                          <p class="product__title">Kräftig und Klar</p>
                          <p class="product__description">
                            als Basis unserer aromastarken Bouillon- Qualität dient das rin aus artgerechterHaltung. Am Orginal orientiert, sind Suppen- gemüse und eine Brise guten Zucker zur aromasintensiverung verarbeitet.
                          </p>
                        </div>
                        <div class="product__action">
                          {{> forms.select-dropdown placeholder="0,125 kg Glas" size="sm"}}
                          <button type="button" class="btn--link highlight--primary underline">Zurücksetzen</button>
                        </div>
                        <p class="product__total">2,89 &euro;</p>
                        <p class="product__availability text-danger">Nicht Vorrätig</p>
                        <div class="product__add-to-cart">
                          {{> forms.text-input-small value="1" max-length="12" name="qty"}}
                          <button class="btn--success" type="button">In den Warenkorb</button>
                        </div>
                        <p> Art.-Nr.: k.A. Kategorie: <span class="highlight--primary">Bouillon & Brühen</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </header>
              <section class="product-details__nav">
                <!-- Horizontal navigation -->
                <ul class="horizontal-nav" role="tablist">
                  <li class="horizontal-nav__item active" data-panel="#desc" role="tab">Produktbeschreibng</li>
                  <li class="horizontal-nav__item md--up" data-panel="#info" role="tab">Weitere Informationen</li>
                  <li class="horizontal-nav__item" data-panel="#reviews" role="tab">Bewertungen (<span class="count">2</span>)</li>
                </ul>

                <div class="horizontal-nav__content">
                  <div class="horizontal-nav__panel active" id="desc" role="tabpanel">
                    <article class="article">
                      <header class="article__header">
                          <h3>Produktbeschreibung</h3>
                      </header>
                      <section class="article__body">
                        <div class="row">
                          <div class="col-md-6 col-xl-8">
                            <p>
                              Unsere Rinderbouillon dient zum Würzen allerlei Speisen sowie als Basis individuell zubereitetet Suppen oder als Trinkbrühe. Als Salzkomponente verwenden wir Bickelbacher Steinsalz, ein unraffiniertes Natursalz aus deutscher Herkunft. Es sind keinerlei
                              künstliche Geschmacksverstärker* (lt.Gesetz*),Farb-undKonservie- rungsstoffe enthalten.
                            </p>
                            <p><strong>Zubereitung</strong>: 20 g pro Liter in heißem Wasser au ösen. Ergibt 7 l Brühe.</p>
                            <p>
                              <strong>Zutaten</strong>: Steinsalz, Maltodextrin*, Zucker*, Rind- eischpulver* 7%, Stärke*, Palmfett*, Hefeextrakt, natürliches Aroma, Zwiebel*, Pastinake*, Petersilie*, Gewürze*, Karotten*, Spinat*.( *aus kontrolliert biologischen Anbau )
                            </p>
                          </div>
                          <div class="col">
                            <aside class="table-block">
                              {{> tables.data-table}}
                              {{> other.product-labels}}
                            </aside>
                          </div>
                        </div>
                      </section>
                    </article>
                  </div>
                  <div class="horizontal-nav__panel md--up" id="info" role="tabpanel">
                    <article class="article">
                      <header class="article__header">
                          <h3>Rinderbouillon</h3>
                      </header>
                      <section class="article__body">
                        <div class="row">
                          <div class="col-md-6 col-xl-8">
                            <p><strong>Zubereitung</strong>: 20 g pro Liter in heißem Wasser au ösen. Ergibt 7 l Brühe.</p>
                            <p>
                              <strong>Zutaten</strong>: Steinsalz, Maltodextrin*, Zucker*, Rind- eischpulver* 7%, Stärke*, Palmfett*, Hefeextrakt, natürliches Aroma, Zwiebel*, Pastinake*, Petersilie*, Gewürze*, Karotten*, Spinat*.( *aus kontrolliert biologischen Anbau )
                            </p>
                            <p>
                              Unsere Rinderbouillon dient zum Würzen allerlei Speisen sowie als Basis individuell zubereitetet Suppen oder als Trinkbrühe. Als Salzkomponente verwenden wir Bickelbacher Steinsalz, ein unraffiniertes Natursalz aus deutscher Herkunft. Es sind keinerlei
                              künstliche Geschmacksverstärker* (lt.Gesetz*),Farb-undKonservie- rungsstoffe enthalten.
                            </p>
                          </div>
                          <div class="col">
                            <aside class="table-block">
                              {{> tables.data-table}}
                              {{> other.product-labels}}
                            </aside>
                          </div>
                        </div>
                      </section>
                    </article>
                  </div>
                  <div class="horizontal-nav__panel" id="reviews" role="tabpanel">
                    {{> features.comment}}
                    {{> features.comment}}
                  </div>
                </div>
                <!-- /Horizontal navigation -->
              </section>
              <footer class="product-details__footers">
                {{> typography.heading title="Sie mögen vielleicht auch..." }}
                <div class="products-grid">
                  <div class="row">
                      {{#each similar-products}}
                        <div class="col-md-6 col-xl-4">
                          {{> features.product-card }}
                        </div>
                      {{/each}}
                  </div>
                </div>
              </footer>
            </article>
          </div>
        </div>

      </main>
    </div>
    <!-- /Main content column -->

    {{> layouts.sidebar}}

  </div>
</div>
