---
layout: inner-pages
title: Bickelbacher - Shop
---

<!-- Secondary Navigation -->
<aside class="secondary-nav">
  {{> navigation.breadcrumbs all-products.breadcrumbs}}
</aside>
<!-- /Secondary Navigation -->
<div class="container">
  <div class="row">
    <!-- Main content column -->
    <div class="col">
      <main class="main-content">
        <div class="products">
          <div class="row">
            <div class="col-12">
              <div class="products-header row">
                <div class="col-lg-6 col-xl-4">
                  {{> typography.heading all-products.heading_main}}
                </div>
                <div class="col-lg-6 col-xl-4 align-self-end">
                  {{> forms.select-dropdown all-products.sort_by_rating}}
                </div>
              </div>
              <section class="products-grid">
                <div class="row">
                  {{#each products}}
                  <div class="col-md-6 col-xl-4">
                    {{> features.product-card }}
                  </div>
                  {{/each}}
                </div>
                <div class="row">
                  <nav class="products-pagination" aria-label="Page navigation">
                    <ul class="page-nav">
                      <li class="page-nav__item">
                        <a class="page-nav__link" href="#"><svg class="icon"><use xlink:href="#chevron-left"></use></svg></a>
                      </li>
                      <li class="page-nav__item active"><a class="page-nav__link" href="#">1</a></li>
                      <li class="page-nav__item"><a class="page-nav__link" href="#">2</a></li>
                      <li class="page-nav__item"><a class="page-nav__link" href="#">3</a></li>
                      <li class="page-nav__item">
                        <a class="page-nav__link" href="#"><svg class="icon"><use xlink:href="#chevron-right"></use></svg></a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </section>
            </div>
          </div>
        </div>
      </main>
    </div>
    <!-- /Main content column -->
    
    {{> layouts.sidebar}}

  </div>
</div>
