.caption {
  margin-bottom: 1em;
  text-align: center;
  @include media-breakpoint-up(lg) {
    text-align: left;
  }

  &__title {
    font-weight: 700;
    color: $color-dark;
    font-size: 2em;
    margin: 0;
  }

  &__subtitle {
    color: $color-dark;
  }
}
