.cart-btn {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 3em;
  padding: 0 1em;
  background: $input-bg-dark;
  font-weight: 500;
  color: $text-color-light;

  &__label {
    display: inline-block;
    white-space: nowrap;
  }

  &__icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.333em;
    position: relative;
  }
}
