.main-menu {
  transition: left 0.35s ease;
  position: fixed;
  display: block;
  background: $color-dark;
  top: 0;
  left: -100%;
  height: 100%;
  width: 290px;
  font-size: 1.25rem;
  padding: 2.1em 0;
  z-index: 9;
  @include media-breakpoint-up(sm) {
    width: 460px;
  }
  @include media-breakpoint-up(lg) {
    font-size: inherit;
    top: inherit;
    left: inherit;
    height: inherit;
    width: inherit;
    background: transparent;
    position: relative;
    display: flex;
    flex-basis: 100%;
    align-items: baseline;
    padding: initial;
  }

  &.open {
    left: 0;
  }
}

.main-nav {
  margin-left: auto;
  display: block;
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__item {
    border-bottom: 1px solid $border-color;

    @include media-breakpoint-up(lg) {
      margin-right: 0.666em;
      border: none;
    }

    &--has-dropdown {
      @extend .main-nav__item;
    }
  }

  &__link {
    padding: 1.25em 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    @include media-breakpoint-up(sm) {
      padding: 1.25em 4em;
    }
    @include media-breakpoint-up(lg) {
      padding: 0;
    }

    & > a {
      @extend %underline;
      color: $color-light;
      font-weight: 700;
      display: inline-block;

      &:before {
        content: none;
      }

      @include media-breakpoint-up(lg) {
        color: $text-color-light;
        text-transform: uppercase;

        &:before {
          content: '';
        }
      }
    }

    & > .icon {
      fill: $color-light;
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }
}

.sub-nav {
  display: none;
  background: lighten($color-dark, 5%);

  @include media-breakpoint-up(lg) {
    display: none !important;
    padding: 0.5em 4em;
  }

  &__item {
    padding: 0.35em 2em;

    &:first-child {
      padding-top: 1em;
    }

    &:last-child {
      padding-bottom: 1em;
    }

    @include media-breakpoint-up(sm) {
      padding: 0.35em 4em;
    }

    & > a {
      color: $color-light;
      font-weight: 700;
      font-size: 0.9em;
      @include media-breakpoint-up(lg) {
        color: $text-color-light;
      }
    }
  }
}
