.select {
  position: relative;
  height: 2.857em;
  width: 100%;
  max-width: $space * 30;
  border: 1px solid $border-color;
  background-color: $color-light;

  &--sm {
    @extend .select;
    height: 1.786em;
    max-width: 12.5em;

    .select__field {

      & > .icon {
        width: 0.85em;
        height: 0.85em;
        right: 0.4rem;
      }
    }
  }

  & > select {
    display: none;
    visibility: hidden;
  }

  &__field {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 space(3) 0 space(-2);
    cursor: pointer;

    & > .icon {
      position: absolute;
      z-index: 9999;
      display: block;
      right: space(-2);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: space(2.5);
      height: 100%;
      display: block;
      background-color: $bg-color-primary;
      border-left: 1px solid $border-color;
    }
  }

  &__title {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__list {
    display: none;
    position: absolute;
    width: calc(100% + 2px);
    cursor: pointer;
    border: 1px solid $border-color;
    left: -1px;
    padding: space(-2) 0;
    z-index: 1;
    background-color: $color-light;

    & > li {
      display: block;
      padding: space(-2);
      text-align: left;
    }
  }
}
