<ul class="social">
  <li class="social__icon"><a href="#"><svg class="icon"><use xlink:href="#facebook"></use></svg></a></li>
  <li class="social__icon"><a href="#"><svg class="icon"><use xlink:href="#twitter"></use></svg></a></li>
  <li class="social__icon"><a href="#"><svg class="icon"><use xlink:href="#instagram"></use></svg></a></li>
  <li class="social__icon"><a href="#"><svg class="icon"><use xlink:href="#youtube"></use></svg></a></li>
  <li class="social__icon"><a href="#"><svg class="icon"><use xlink:href="#vimeo"></use></svg></a></li>
  <li class="social__icon"><a href="#"><svg class="icon"><use xlink:href="#pinterest-p"></use></svg></a></li>
</ul>
