// =============================================================================
// Variables
// =============================================================================


// Colors
// ============================================

// Base Colors
$color-dark: #000;
$color-light: #fff;
$color-lighter: #f8f9fa;
$color-gray-1: #747474;
$color-gray-2: #979797;
$color-gray-3: #939183;
$color-primary: #bebc7e;

// Text Colors
$text-color-light:  rgba( $color-light, .7 );
$text-color-dark: rgba( $color-dark, .7 );
$text-color-medium: $color-gray-1;
$text-color-primary: $color-primary;


// Typography
// ============================================
$font-size-base: 1rem !default;  // 16px
$font-size-regular: 0.9375rem !default;  // 15px

// Utility
// ============================================
$space: 0.625rem !default;  // 10px

$spaces: (
  xxs: $space / 3,
  xs: $space / 2,
  sm: $space / 1.5,
  md: $space,
  lg: $space * 1.5,
  xl: $space * 2,
  xxl: $space * 3
);

// Border
// ============================================
$border-color: $color-gray-2;


// Background
// ============================================
$bg-color-primary: $color-primary;
$bg-color-light: $color-lighter;


// header
// ============================================
$header-font-size: $font-size-regular;

// Forms
// ============================================
$input-text-color: $text-color-medium;
$input-font-size: $font-size-regular;
$input-height: 2.813em;
$input-background: $color-light;
$input-background-dark: $color-gray-3;
