// =============================================================================
// Variables
// =============================================================================

// Color variables
$color-dark: #000;
$color-light: #fff;
$color-primary: #bebc7e;
