---
notes: Select element - small size
---

<!-- Small Select Dropdown Element -->
<div class="select select--sm">
	<div class="select__field">
		<div class="select__title">{{#if placeholder}} {{placeholder}} {{else}} Select option {{/if}}</div>
		<svg class="icon"><use xlink:href="#chevron-down"></use></svg>
	</div>
	<ul class="select__list"></ul>
	<select>
	{{#if options}}
	  {{#each options}}
	    <option value="{{value}}">{{title}}</option>
	  {{/each}}
	{{else}}
		<option value="value-1">Option 1</option>
		<option value="value-2">Option 2</option>
		<option value="value-3">Option 3</option>
	{{/if}}
	</select>
</div>
<!-- /Small Select Dropdown Element -->
