<!doctype html>
<html lang="">

<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/styles/toolkit.css">
	<!-- /toolkit styles -->

</head>

<body>

	<!-- Icons Sprite -->
	{{> icons}}
	<!-- /Icons Sprite -->

	<!-- Header -->
	<header class="header">
		<div class="top-bar">
			<p class="top-bar__text">So erreichen Sie uns <a href="tel:+498241911271">+49 8241 911271</a> oder <a href="mailto:info@bickelbacher.com">info@bickelbacher.com</a></p>
			<ul class="top-bar__nav">
				<li class="top-bar__nav-item"><a href="#">Mein Benutzerkonto</a></li>
				<li class="top-bar__nav-item"><a href="#">Zur Kasse</a></li>
				<li class="top-bar__nav-item"><a href="#">Anmelden</a></li>
			</ul>
		</div>
		<nav class="main-bar--primary">
			<button class="menu-btn" id="menu-toggler" type="button" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
				<div class="menu-btn__wrap">
					<span class="menu-btn__bar"></span>
					<span class="menu-btn__bar"></span>
					<span class="menu-btn__bar"></span>
				</div>
			</button>
			<a class="logo" href="#">Bichelbacker</a>
			<div class="main-menu" id="main-menu">
				<div class="search">
					<input class="search__field" type="text" placeholder="Search" aria-label="Search">
					<svg class="search__icon icon"><use xlink:href="#search"></use></svg>
				</div>
				<ul class="main-nav">
					<li class="main-nav__item--has-subnav">
						<div class="main-nav__link">
							<a href="#">PRODUKTE</a>
							<svg class="icon"><use xlink:href="#chevron-down"></use></svg>
						</div>
						<ul class="sub-nav">
							<li class="sub-nav__item"><a href="#">Lorem ipsum dolor</a></li>
							<li class="sub-nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="sub-nav__item"><a href="#">Lorem ipsum dolor sit.</a></li>
						</ul>
					</li>
					<li class="main-nav__item--has-subnav">
						<div class="main-nav__link">
							<a href="#">ÜBER BICKELBACHER</a>
							<svg class="icon"><use xlink:href="#chevron-down"></use></svg>
						</div>
						<ul class="sub-nav">
							<li class="sub-nav__item"><a href="#">ITEM 1</a></li>
							<li class="sub-nav__item"><a href="#">ITEM 2</a></li>
							<li class="sub-nav__item"><a href="#">ITEM 3</a></li>
							<li class="sub-nav__item"><a href="#">ITEM 4</a></li>
						</ul>
					</li>
					<li class="main-nav__item">
						<div class="main-nav__link">
							<a href="#">SHOP</a>
							<svg class="icon"><use xlink:href="#chevron-down"></use></svg>
						</div>
					</li>
				</ul>
			</div>
			<button class="cart-btn" type="button">
				<svg class="cart-btn__icon icon"><use xlink:href="#cart_button"></use></svg>
				<p class="cart-btn__label">
					(<span class="count">0</span>) Artikel - <span class="price">0.00</span>
				</p>
			</button>
		</nav>
	</header>
	<!-- /Header -->
	<!-- Secondary Navigation -->
	<aside class="secondary-nav">
		<ul class="breadcrumbs">
			<li class="breadcrumbs__item"><a href="#">Startseite</a></li>
			<li class="breadcrumbs__item"><a href="#">Shop</a></li>
			<!-- <li class="breadcrumbs__item"><a href="#">Bouillon & Brühen</a></li>
			<li class="breadcrumbs__item--active"><span>Bouillon Rind</span></li> -->
		</ul>
	</aside>
	<!-- Secondary Navigation -->

	<div class="container">
		<div class="row">

			<!-- Main content column -->
			<div class="col">
				<main class="main-content">
					{% body %}
				</main>
			</div>
			<!-- /Main content column -->
			<!-- Sidebar column -->
			<div class="col-lg-4 col-xl-3">
				<aside class="sidebar">
					<div class="row">
						<div class="col-12">
							<header class="caption">
								<h2 class="caption__title">Bickelbacher <span class="text-strong">Aktuell</span></h2>
								<p class="caption__subtitle">Nützliche Infos rund um unsere Produkte</p>
							</header>
						</div>
						<div class="col-md-6 col-lg-12">
							<article class="info">
								<img class="info__img" src="../assets/toolkit/images/gemuese_glass.jpg" alt="placeholder">
								<div class="info__body">
									<h3>Deftige Eintöpfe mit<br>Hickory- Steinsalz</h3>
									<p>Zum Beispiel das Hickory Smoke genial für die vegane Küche ist und soweiter.</p>
								</div>
								<button class="info__btn" type="button">ALLE THEMEN ANSEHEN</button>
							</article>
						</div>
						<div class="col-md-6 col-lg-12">
							<article class="subscribe">
								<form action="" method="">
									<header class="subscribe__header">
										<h3>Bleiben Sie Informiert.</h3>
										<p>MIT UNSEREM NEWSLETTER, INFORMIEREN SIE RUND UM DAS THEMA GESUNDE ERNÄRHUNG UND RAFFINIERTES KOCHEN.</p>
										<input class="text-input" type="email" placeholder="E-Mail-Adresse">
										<input class="text-input" type="password" placeholder="Passwort estellen">
									</header>
									<footer class="subscribe__footer">
										<button type="submit">Jetzt Anmelden</button>
										<p>Durch die Erstellung eines Kontos bestätgst du, dass du mit den <strong>AGB von Bickelbacher.com, unseren Datenschutzrichtlinien</strong> und der <strong>Verwendung von Cookies</strong> einverstanden bidt</p>
									</footer>
								</form>
							</article>
						</div>
						<div class="col">
							<article class="topics">
								<h3>Bleliebte Themen</h3>
								<ul class="topics__list">
									<li class="topics__label">Vegan</li>
									<li class="topics__label">Bio</li>
									<li class="topics__label">Laktose Frei</li>
									<li class="topics__label">Grillen</li>
									<li class="topics__label">Eintopf</li>
									<li class="topics__label">Suppen</li>
									<li class="topics__label">Cup of Soup</li>
									<li class="topics__label">Kinder mahlzeit</li>
								</ul>
							</article>
						</div>
					</div>
				</aside>
			</div>
			<!-- /Sidebar column -->
		</div>
	</div>



	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col"></div>
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-6 col-lg-3">
							<div class="footer-nav">
								<h3 class="footer-nav__title">CUSTOMER SERVICE</h3>
								<ul>
									<li class="footer-nav__item"><a href="#">Contact Us</a></li>
									<li class="footer-nav__item"><a href="#">Returns & Exchange</a></li>
									<li class="footer-nav__item"><a href="#">FAQ</a></li>
									<li class="footer-nav__item"><a href="#">International FAQ</a></li>
									<li class="footer-nav__item"><a href="#">Warranty</a></li>
									<li class="footer-nav__item"><a href="#">Sitemap</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="footer-nav">
								<h3 class="footer-nav__title">CORPORATE</h3>
								<ul>
									<li class="footer-nav__item"><a href="#">Corporate & Uniform</a></li>
									<li class="footer-nav__item"><a href="#">Sales</a></li>
									<li class="footer-nav__item"><a href="#">Careers</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="footer-nav">
								<h3 class="footer-nav__title">LEGAL</h3>
								<ul>
									<li class="footer-nav__item"><a href="#">Privacy Policy</a></li>
									<li class="footer-nav__item"><a href="#">Terms & Conditions</a></li>
									<li class="footer-nav__item"><a href="#">California Transparency</a></li>
									<li class="footer-nav__item"><a href="#">Act</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<ul class="social">
								<li class="social__icon"><a href="#"><svg class="icon"><use xlink:href="#facebook"></use></svg></a></li>
								<li class="social__icon"><a href="#"><svg class="icon"><use xlink:href="#twitter"></use></svg></a></li>
								<li class="social__icon"><a href="#"><svg class="icon"><use xlink:href="#instagram"></use></svg></a></li>
								<li class="social__icon"><a href="#"><svg class="icon"><use xlink:href="#youtube"></use></svg></a></li>
								<li class="social__icon"><a href="#"><svg class="icon"><use xlink:href="#vimeo"></use></svg></a></li>
								<li class="social__icon"><a href="#"><svg class="icon"><use xlink:href="#pinterest-p"></use></svg></a></li>
							</ul>
							<button class="login-btn" type="button">HANDLER LOGIN</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /Footer -->

	<!-- toolkit scripts -->
	<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/scripts/toolkit.js"></script>
	<!-- /toolkit scripts -->

</body>

</html>
