<!doctype html>
<html lang="">

<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/styles/toolkit.css">
	<!-- /toolkit styles -->

</head>

<body>

	<!-- Icons Sprite -->
	{{> icons}}
	<!-- /Icon Sprite -->

	<!-- Header -->
	<header class="header">
		<div class="top-bar">
			<p class="top-bar__text">So erreichen Sie uns <a href="tel:+498241911271">+49 8241 911271</a> oder <a href="mailto:info@bickelbacher.com">info@bickelbacher.com</a></p>
			<ul class="top-bar__nav">
				<li class="top-bar__nav-item"><a href="#">Mein Benutzerkonto</a></li>
				<li class="top-bar__nav-item"><a href="#">Zur Kasse</a></li>
				<li class="top-bar__nav-item"><a href="#">Anmelden</a></li>
			</ul>
		</div>
		<nav class="main-bar--primary">
			<button class="menu-btn" id="menu-toggler" type="button" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
				<div class="menu-btn__wrap">
					<span class="menu-btn__bar"></span>
					<span class="menu-btn__bar"></span>
					<span class="menu-btn__bar"></span>
				</div>
			</button>
			<a class="logo" href="#">Bichelbacker</a>
			<div class="main-menu" id="main-menu">
				<div class="search">
					<input class="search__field" type="text" placeholder="Search" aria-label="Search">
					<svg class="search__icon icon"><use xlink:href="#search"></use></svg>
				</div>
				<ul class="main-nav">
					<li class="main-nav__item--has-subnav">
						<div class="main-nav__link">
							<a href="#">PRODUKTE</a>
							<svg class="icon"><use xlink:href="#chevron-down"></use></svg>
						</div>
						<ul class="sub-nav">
							<li class="sub-nav__item"><a href="#">Lorem ipsum dolor</a></li>
							<li class="sub-nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="sub-nav__item"><a href="#">Lorem ipsum dolor sit.</a></li>
						</ul>
					</li>
					<li class="main-nav__item--has-subnav">
						<div class="main-nav__link">
							<a href="#">ÜBER BICKELBACHER</a>
							<svg class="icon"><use xlink:href="#chevron-down"></use></svg>
						</div>
						<ul class="sub-nav">
							<li class="sub-nav__item"><a href="#">ITEM 1</a></li>
							<li class="sub-nav__item"><a href="#">ITEM 2</a></li>
							<li class="sub-nav__item"><a href="#">ITEM 3</a></li>
							<li class="sub-nav__item"><a href="#">ITEM 4</a></li>
						</ul>
					</li>
					<li class="main-nav__item">
						<div class="main-nav__link">
							<a href="#">SHOP</a>
							<svg class="icon"><use xlink:href="#chevron-down"></use></svg>
						</div>
					</li>
				</ul>
			</div>
			<button class="cart-btn" type="button">
				<svg class="cart-btn__icon icon"><use xlink:href="#cart_button"></use></svg>
				<p class="cart-btn__label">
					(<span class="count">0</span>) Artikel - <span class="price">0.00</span>
				</p>
			</button>
		</nav>
	</header>
	<!-- Secondary Navigation -->
	<nav class="secondary-nav">
		<ul class="breadcrumbs">
			<li class="breadcrumbs__item"><a href="#">Startseite</a></li>
			<li class="breadcrumbs__item"><a href="#">Shop</a></li>
			<li class="breadcrumbs__item"><a href="#">Bouillon & Brühen</a></li>
			<li class="breadcrumbs__item--active"><span>Bouillon Rind</span></li>
		</ul>
	</nav>
	<!-- Secondary Navigation -->
	<!-- /Header -->

	{% body %}

	<!-- toolkit scripts -->
	<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/scripts/toolkit.js"></script>
	<!-- /toolkit scripts -->

</body>

</html>
