---
notes: |
  All highlight classes can be applied to the any textual element
---
<!-- Strong Text Hightlight -->
<h3>Lorem ipsum dolor sit amet, <span class="text-strong">consectetur adipisicing elit. Ab?</span></h3>
<!-- /Strong Text Hightlight -->

<!-- Primary Text Hightlight -->
<p>Lorem ipsum dolor sit amet, <span class="highlight--primary">consectetur adipisicing elit</span>. Molestiae non quam eos, neque, quis quo.</p>
<!-- /Primary Text Hightlight -->

<!-- Animated Underline Text Hightlight -->
<p>Lorem ipsum dolor sit amet <span class="underline">animated underline text</span></p>
<!-- /Animated Underline Text Hightlight -->
